.all-header{
	height: 130px;
	width: 100%;
	background-color: #1c242b;
	color: white;
}

.text-logo{
	text-align: center;
	font-family: cursive;
	font-size: 35px;

}



.site-bar > li{
	display: inline;
	margin-right: 10px;
	margin-left: 10px;

	border: 2px solid #1c242b;
}





.site-bar {
	margin-left: 25%;
	margin-top: 50px;
}

.site-bar li a {
	color: white;
	text-decoration: none;
	margin-bottom: 5px;

}

.a-bar {
	float: left;
	width: 180px;
	height: 30px;
	text-align: center;

}

.a-bar:hover {
	border-bottom: 5px solid white;
}

.site-bar li a:hover {
	text-decoration: none;
}

/* -----------end header------------*/

body {
	margin: 0px;
}

h2 {
	padding-left: 20px;
	padding-top: 0;
}

.all-content {
	background-position: center;
	background-image: url("http://cloudberrystudio.ru/ff/3/siniy_goluboy_cvet_fon_more_stena_volna_1680x1050.jpg");
	background-size: 100%;
	padding: 0px 70px 30px 70px;;
}

.content {
	background-image: url("http://i9.beon.ru/23/33/1513323/84/76113884/2531170_082050410521_2.jpeg");
	background-repeat: repeat-y;
	background-size: 100%;
	line-height: 1.5;
	padding: 30px 40px;
	overflow: hidden;


}

.item {
	background-color: #1c242b;
	height: 300px;
	width: 230px;
	border-radius: 20px;
	border: 2px solid black;
	color: white;
	margin-bottom: 50px;
	float: left;
	margin-left: 70px;
	margin-right: 30px;

}


.img-item {
	height: 135px;
}

.img-box {
	height: 150px;
	width: 210px;
	margin: 5px;
	padding: 5px;
	background-color: #0b131a;

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.item p {
	text-align: center;
}

.btns {
	margin-top: 35px;
	display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.btn {
	float: left;
	height: 30px;
	width: 100px;
	background-color: #19b219;
	text-align: center;
	border-radius: 7px;
	box-shadow: 0 0 5px black,
				0 0 5px black,
				0 0 5px black ;
	padding-top: 7px;
}

.buy {
	margin-right: 4px;
}

.details {
	margin-left: 4px;
}

.btn a {
	color: white;
	text-decoration: none;
}

.btn a:hover {
	color: #8c4bac;
	text-decoration: none;
}

.btn a:visited {
	color: white;
	text-decoration: none;
}

.hidden {
	display: none;
}

form {
	padding: 50px 30px 50px 20px;
	background-color: #148e14;
	max-width: 320px;
	margin: auto;
	position: relative;
	border-radius: 10px;
	color: white;
}
form input {
	width: 100%;
	margin-bottom: 10%;
}

textarea {
	resize: none;
	border-radius: 5px;
	margin-bottom: 20px;
}

button.send {
	height: 45px;
	width: 160px;
	background-color: #19b219;
	color: white;
	border-radius: 7px;
	box-shadow: 0 0 5px black,
				0 0 5px black,
				0 0 5px black ;
	border: 1px solid black;
	margin: 10px 25%;
}

/* ------------------end content --------------------*/

.all-footer {
	height: 100px;
	width: 100%
	margin: 0px 70px 30px 70px;
	background-color: #1c242b;
	border-radius: 0  0  50px  50px; 
}

#footer-logo {
	margin: 5px 0px 30px 30px;
	float: left;
	height: 80px;
}

.contacts-data {
	margin: 15px 0 30px 10px;
	float: left;
	color: #726767;
}
.contacts-data ul {
	list-style-type: none;

}

.vk {
	float: right;
	margin-right: 30px;
}

#logo-vk {
	height: 35px;
	padding-top: 10px;
	display: inline;
}

#a-vk {
	text-decoration: none;
	color: #726767;
}

#a-vk:visited {
	color: #726767;
}

#a-vk:hover {
	color: #7070cc;
	text-decoration: underline;
}

#a-vk:focus {
	border: none;
}