@media (min-width: 768px) {
	.navbar-collapse .col-sm-2:nth-child(3){
	border-bottom: 5px solid white !important;
	}
}


.contacts-inline-data {
	display: inline-block;
}

.content {
	font-size: 17px;
}

ul {
	margin-top: 2% !important;
}

.cont-fb-btn {
	width: 100%;
}

.fb-btn {
	display: block !important;
	height: 45px;
	width: 30%;
	min-width: 200px;
	background-color: #19b219;
	color: white;
	border-radius: 7px;
	box-shadow: 0 0 5px black;
	border: 1px solid black;
	margin: 4% auto;
	/*line-height: 1.5 !important;*/
	font-size: 113% !important;
}

.fb-btn a{
	display: block;
	margin: auto;
}

@media (max-width: 750px) {
	.content {
		font-size: 14px !important
	}
}

@media (max-width: 400px) {
	.row.content {
		margin-left: -40px !important;
		margin-right: -40px !important;
	}
}

.hidden {
	display: none;
}



.btn a {
	color: white;
	text-decoration: none;
}

.btn a:hover {
	color: #8c4bac;
	text-decoration: none;
}

.btn a:visited {
	color: white;
	text-decoration: none;
}

#y-map {
	margin-top: 8%;
	width: 100%;
	text-align: center;
	/*padding-left: 22%;*/
}

ymaps {
	display: block;
	/*width: 100%;*/
	margin: 0 auto;
}
/*---PopUp------*/
form {
	height: 100%;
	width: 50%;
	padding: 3% 1%;
	background-color: #148e14;
	margin: auto;
	position: relative;
	border-radius: 10px;
	color: black;
}

@media (min-width: 500px) and 
		(max-width: 765px) {
	form {
		width: 80%;
	}
}

@media (max-width: 500px) {
	form {
		width: 90%;
	}

	input {
		margin-left: 5% !important;
	}

	.input_time {
		float: left !important;
		width: 100% !important;
		margin-top: 5%; 
	}

	.input_date {
		float: none !important;
		width: 100% !important;
	}

	#date {
		width: 50% !important;
		margin-left: 25%;
	}

	.send {
		width: 70% !important;
		margin: 4% 15% !important;
	}

	.input_text p {
		margin-bottom: 3px !important;
	}
}

form input#name,
form input#phone {
	width: 75%;
}

form p,
.white {
	color: white;
}

.external_text {
	margin-top: 5%;
	font-size: 12pt;
}

.input_set {
	width: 100%;
	overflow: hidden;
}

#name {

	margin-bottom: 4%;
}

.input_date,
.input_time {
	float: right;
}

.input_time {
	width: 72%;
	min-width: 180px;
}

#time_from,
#time_to {
	width: 40%;
}

.input_date {
	width: 25%;
}

#date {
	width: 100%;
}

.input_time {
	margin-right: 2%;
}

.input_text {
	text-align: center;
}

button.send {
	height: 45px;
	width: 40%;
	background-color: #19b219;
	color: white;
	border-radius: 7px;
	box-shadow: 0 0 5px black;
	border: 1px solid black;
	margin: 4% 30%;
}