.all-header{
	height: 130px;
	width: 100%;
	background-color: #1c242b;
	color: white;
}

.text-logo{
	text-align: center;
	font-family: cursive;
	font-size: 35px;

}



.site-bar > li{
	display: inline;
	margin-right: 10px;
	margin-left: 10px;

	border: 2px solid #1c242b;
}





.site-bar {
	margin-left: 25%;
	margin-top: 50px;
}

.site-bar li a {
	color: white;
	text-decoration: none;
	margin-bottom: 5px;

}

.a-bar {
	float: left;
	width: 180px;
	height: 30px;
	text-align: center;

}

.a-bar:hover {
	border-bottom: 5px solid white;
}

.site-bar li a:hover {
	text-decoration: none;
}

/* -----------end header------------*/

body {
	margin: 0px;
}

h2 {
	padding-left: 20px;
	padding-top: 0;
}

.all-content {
	background-position: center;
	background-image: url("http://cloudberrystudio.ru/ff/3/siniy_goluboy_cvet_fon_more_stena_volna_1680x1050.jpg");
	background-size: 100%;
	padding: 0px 70px 30px 70px;;
}

.content {
	background-image: url("../img/green_bg.jpeg");
	background-repeat: repeat-y;
	background-size: 100%;
	line-height: 1.5;
	padding: 30px 40px;
	overflow: hidden;


}


/* ------------------end content --------------------*/

.all-footer {
	height: 100px;
	width: 100%
	margin: 0px 70px 30px 70px;
	background-color: #1c242b;
	border-radius: 0  0  50px  50px; 
}

#footer-logo {
	margin: 5px 0px 30px 30px;
	float: left;
	height: 80px;
}

.contacts-data {
	margin: 15px 0 30px 10px;
	float: left;
	color: #726767;
}
.contacts-data ul {
	list-style-type: none;

}

.vk {
	float: right;
	margin-right: 30px;
}

#logo-vk {
	height: 35px;
	padding-top: 10px;
	display: inline;
}

#a-vk {
	text-decoration: none;
	color: #726767;
}

#a-vk:visited {
	color: #726767;
}

#a-vk:hover {
	color: #7070cc;
	text-decoration: underline;
}

#a-vk:focus {
	border: none;
}