{% extends 'list_item_info/base.html' %}
	


	{% block link %}
	
		<link rel="stylesheet" href="http://188.226.156.159/static/css/catalog.css">
		<link rel="stylesheet" href="http://188.226.156.159/static/css/magnific-popup.css">
		<link rel="stylesheet" type="text/css" href="http://188.226.156.159/static/css/magnific-popup.css">
		<link rel="stylesheet" type="application/octet-stream" href="http://188.226.156.159/static/css/bootstrap.css.map">
	{% endblock link %}


	{% block name_page %}
		Список товаров
	{% endblock %}




    {% block content %}
 		{% for item in object_list %}



			<div class="item  col-sm-4
			{% if item.get_chet %}
				col-sm-offset-1
			{% else %}
				col-sm-offset-2
			{% endif %}
			 ">
				<a href="{{ item.get_absolute_url }}">
					<div class="img-box">
						<img src="{{ item.img1.url }}" class="img-item">
					</div>

					<p>{{ item.title }}</p>
				</a>
				<p class="price">{{ item.price }}</p>

				<div class="btns">
					<div class="btn buy">
						<a href="#buy-item" class="popup" onClick="InsertID({{ item.get_id }})">Купить</a>
					</div>
					
					
					<div class="btn details">
						<a href="{{ item.get_absolute_url }}">Подробнее</a>
					</div>
				</div>
			</div>



		{% endfor %}
	{% endblock content %}


	{% block hid %}
	<!-- PopUp window -->
			<div class="hidden" >
				<form id="buy-item">
					
					<input type="text" name="name" placeholder="Имя:" id="name" required><br>

					
					<input type="text" name="phone" placeholder="Телефон:" id="phone" required><br>
					<p class="external_text">Когда Вам удобно принять звонок:</p>
		<div class="input_set">
					<div class="input_date">
							<div class="input_text">
								<p>Дата</p>
							</div>
						<select name="date" id="date" >
							
						</select>
					</div>
				
					<div class="input_time">
						<div class="input_text">
							<p>Время</p>
						</div>

						<span class="white">c&nbsp</span>
						<select name="time_from" id="time_from">
							<option value="12:00" selected>12:00</option>
							<option value="12:30">12:30</option>
							<option value="13:00">13:00</option>
							<option value="13:30">13:30</option>
							<option value="14:00">14:00</option>
							<option value="14:30">14:30</option>
							<option value="15:00">15:00</option>
							<option value="15:30">15:30</option>
							<option value="16:00">16:00</option>
							<option value="16:30">16:30</option>
							<option value="17:00">17:00</option>
							<option value="17:30">17:30</option>
							<option value="18:00">18:00</option>
							<option value="18:30">18:30</option>
							<option value="19:00">19:00</option>
							<option value="19:30">19:30</option>
							<option value="20:00">20:00</option>
						</select>&nbsp
					
				<span style="white-space: nowrap;">
						<span class="white">до&nbsp</span>
						<select name="time_to" id="time_to">
							<option value="12:00">12:00</option>
							<option value="12:30">12:30</option>
							<option value="13:00">13:00</option>
							<option value="13:30">13:30</option>
							<option value="14:00">14:00</option>
							<option value="14:30">14:30</option>
							<option value="15:00">15:00</option>
							<option value="15:30">15:30</option>
							<option value="16:00">16:00</option>
							<option value="16:30">16:30</option>
							<option value="17:00">17:00</option>
							<option value="17:30">17:30</option>
							<option value="18:00">18:00</option>
							<option value="18:30">18:30</option>
							<option value="19:00">19:00</option>
							<option value="19:30">19:30</option>
							<option value="20:00" selected="">20:00</option>
						</select>
				</span>
					</div>
			</div>
					<p class="external_text">Подробности заявки:</p>
					<textarea name="details" rows="6"></textarea>
					<input type="hidden" name="id" value="" id="hidden_input">
					<button class="send">Отправить заявку</button>
				</form>
			</div>
	<!-- End PopUp -->
	{% endblock %}


	{% block script %}
<script src="http://188.226.156.159/static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script src="http://188.226.156.159/static/bootstrap-3.3.7-dist/fonts/glyphicons-halflings-regular.eot"></script>
<script src="http://188.226.156.159/static/js/jquery.maskedinput.min.js"></script>
<script src="http://188.226.156.159/static/js/mail.php"></script>
<script>


$(function(){
  $("#phone").mask("8(999) 999-99-99");
});
</script>

<script>
	$(function(){
		var date = new Date();
		var day = date.getDate();
		var month = date.getMonth();
		var year = date.getFullYear();
		for (i = 0; i < 8; i++){
			var foo = new Date(year, month, day + i+1);
			var foo_day = foo.getDate();
			var foo_month = foo.getMonth(); 

			monthA = 'января,февраля,марта,апреля,мая,июня,июля,августа,сенября,октября,ноября,декабря'.split(',');

			document.getElementById("date").options[i] = new Option(foo_day + ' ' + monthA[foo_month], foo_day + ' ' + monthA[foo_month]);



			// date.setDate(date.getDate() + i);



		};

	});
</script>
	{% endblock %}